# *👉🏻 data load*

In [1]:
import config
from pshmodule.utils import filemanager as fm

In [2]:
df_aihub = fm.load(config.aihub)

extension : .xlsx
Loaded 10000 records from /home/shpark/team_ai/practice/transformer_encoder_torch/data/aihub_sentiment.xlsx

In [3]:
df_news = fm.load(config.news)

extension : .json
Loaded 25444 records from /home/shpark/team_ai/practice/transformer_encoder_torch/data/news_data_25444.json

# *👉🏻 data preprocessing*

In [4]:
import re
import pandas as pd

### AI Hub
기쁨 → 긍정, 슬픔 → 부정으로 replacing 처리

In [5]:
df_aihub['content'] = df_aihub.사람문장1 + " " + df_aihub.사람문장2 + " " + df_aihub.사람문장3

In [6]:
df_aihub.rename(columns={'감정_대분류':'label'}, inplace=True)

In [7]:
df_aihub = df_aihub[['content', 'label']]

In [8]:
df_aihub.head()

                                             content label
0  오늘 반장 선거에서 내가 반장이 됐어! 친구들이 날 믿어줘서 너무 고맙다. 친구들에...    기쁨
1  오늘 시험에 친구가 알려준 문제가 나왔어. 결과가 좋아서 기쁘다. 말로 하기 쑥스러...    기쁨
2  오늘 대학 합격 통지를 받았어. 엄마가 너무 기뻐하는데 나는 눈물이 났어. 사실 이...    기쁨
3  오늘 졸업식인데 선생님께서 아프셔서 오지 못하셨어. 그동안 감사하다는 말도 못했는데...    기쁨
4  나 올림피아드에서 금상 받았어! 그동안 고생이 헛되지 않아서 너무 기뻐. 근데 친구...    기쁨

In [9]:
df_aihub['label'] = df_aihub.label.str.replace('기쁨', '긍정')

In [10]:
df_aihub['label'] = df_aihub.label.str.replace('슬픔', '부정')

In [11]:
df_aihub.label.value_counts()

부정    1691
긍정    1679
불안    1677
상처    1666
분노    1660
당황    1627
Name: label, dtype: int64

In [12]:
df_aihub = df_aihub[df_aihub.label.apply(lambda x: '긍정' in x or '부정' in x)]

In [13]:
df_aihub.label.value_counts()

부정    1691
긍정    1679
Name: label, dtype: int64

In [14]:
df_aihub = df_aihub[['content', 'label']]

In [15]:
df_aihub.head()

                                             content label
0  오늘 반장 선거에서 내가 반장이 됐어! 친구들이 날 믿어줘서 너무 고맙다. 친구들에...    긍정
1  오늘 시험에 친구가 알려준 문제가 나왔어. 결과가 좋아서 기쁘다. 말로 하기 쑥스러...    긍정
2  오늘 대학 합격 통지를 받았어. 엄마가 너무 기뻐하는데 나는 눈물이 났어. 사실 이...    긍정
3  오늘 졸업식인데 선생님께서 아프셔서 오지 못하셨어. 그동안 감사하다는 말도 못했는데...    긍정
4  나 올림피아드에서 금상 받았어! 그동안 고생이 헛되지 않아서 너무 기뻐. 근데 친구...    긍정

#### 특수문자 제거

In [16]:
df_aihub['content'] = df_aihub.content.apply(lambda x: re.sub('[-=+,#/\?:^.@*\"※~ㆍ!』‘|\(\)\[\]`\'…》\”\“\’·]', '', str(x)))

In [17]:
df_aihub.head()

                                             content label
0  오늘 반장 선거에서 내가 반장이 됐어 친구들이 날 믿어줘서 너무 고맙다 친구들에게 ...    긍정
1  오늘 시험에 친구가 알려준 문제가 나왔어 결과가 좋아서 기쁘다 말로 하기 쑥스러운데...    긍정
2  오늘 대학 합격 통지를 받았어 엄마가 너무 기뻐하는데 나는 눈물이 났어 사실 이렇게...    긍정
3  오늘 졸업식인데 선생님께서 아프셔서 오지 못하셨어 그동안 감사하다는 말도 못했는데 ...    긍정
4  나 올림피아드에서 금상 받았어 그동안 고생이 헛되지 않아서 너무 기뻐 근데 친구들이...    긍정

### news

In [18]:
df_news.label.value_counts()

0    22060
1     2239
2     1145
Name: label, dtype: int64

In [19]:
df_news = df_news[~df_news.label.str.contains('0')]

In [20]:
df_news.label.value_counts()

1    2239
2    1145
Name: label, dtype: int64

In [21]:
df_news.head(20)

                                               content label
4    Koreas venture space has been filled with vari...     2
5    Samsung Electronics claims to have developed t...     2
21   Daum Kakao  today introduced Secret Chat mode ...     2
64   Tech for Korea has been on hiatus for half a y...     2
66   신차구매 어플리케이션 서비스를 제공하고 있는 겟차에서 차량 구매 예정자의 고충을 해...     1
74   In the Korean economy startups are rising as t...     2
83   The exchange rates of cryptocurrencies like Bi...     2
118  Fintech startup QARA  announced that its longa...     2
136  Berlin December 13 2019  Today Delivery Hero S...     2
144  삼성전자와 LG전자가 2020년형 에어컨 신제품을 연이어 공개하며 한겨울 에어컨 전...     2
145  은행권청년창업재단 디캠프가 올해 첫 디데이를 홍콩투자청 홍콩경제무역대표부와 함께 개...     1
146  한국사회에서 게임을 대하는 태도는 모순적이다. 수출 효자산업으로 각광받는 동시에 청...     1
150  아이에스시가 국내 기업을 상대로 제기한 영업비밀침해 손해배상소송에서 승소했다.5일 ...     1
151  신종 코로나바이러스 감염증 공포로 가전양판점도 고객 불안을 해소하기 위해 위생에 만...     1
155  티몬이 코로나19 발생 이후 주요 간편식 판매 추이를 조사한 결과 밀키트의 매출이 ...     1
178  한국콘텐츠진흥원이 2020 게임이용자 임상의학 코호트 연구 위탁용역 사업을 위한 행...     1
181  배달의민족을 운영하는 우아한형제들은 코로나19 여파로 영업에 어려움을 겪고 있는 사...     2
184  네이버은 코로나19 장기화로 힘든 미용실네일샵 업종 사업자를 위해 연말까지 네이버페...     1
216  텐센트 동남아판 넷플릭스 아이플릭스 인수루머가 무성했던 텐센트의 아이플릭스 인수가 ...     1
217  아이에스시가 지난달 27일부터 29일까지 중국 상하이 신국제엑스포센터에서 열린 세미...     1

#### 영어 제거

In [22]:
reg = re.compile(r'[a-zA-Z]')

In [23]:
def eng_check(text):
    check = reg.match(text)
    return check

In [24]:
df_news['eng_check'] = df_news.content.apply(eng_check)

In [25]:
df_news = df_news[df_news.eng_check.apply(lambda x: None == x)]

In [26]:
df_news.head()

                                               content label eng_check
66   신차구매 어플리케이션 서비스를 제공하고 있는 겟차에서 차량 구매 예정자의 고충을 해...     1      None
144  삼성전자와 LG전자가 2020년형 에어컨 신제품을 연이어 공개하며 한겨울 에어컨 전...     2      None
145  은행권청년창업재단 디캠프가 올해 첫 디데이를 홍콩투자청 홍콩경제무역대표부와 함께 개...     1      None
146  한국사회에서 게임을 대하는 태도는 모순적이다. 수출 효자산업으로 각광받는 동시에 청...     1      None
150  아이에스시가 국내 기업을 상대로 제기한 영업비밀침해 손해배상소송에서 승소했다.5일 ...     1      None

In [27]:
df_news_1 = df_news[df_news.label.str.contains('1')]

In [28]:
df_news_1 = df_news_1[:1000]

In [29]:
df_news_1.shape

(1000, 3)

In [30]:
df_news = df_news[df_news.label.str.contains('2')]

In [31]:
df_news = pd.concat([df_news, df_news_1])

In [32]:
df_news = df_news[['content', 'label']]

In [33]:
df_news.label.value_counts()

1    1000
2     992
Name: label, dtype: int64

### data merge

In [34]:
df = pd.concat([df_aihub, df_news])

In [36]:
df['label'] = df.label.str.replace('긍정', '1')
df['label'] = df.label.str.replace('부정', '2')

TypeError: repl must be a string or callable

In [47]:
df.head()

   index                                            content  label
0      0  오늘 반장 선거에서 내가 반장이 됐어 친구들이 날 믿어줘서 너무 고맙다 친구들에게 ...  [[1]]
1      1  오늘 시험에 친구가 알려준 문제가 나왔어 결과가 좋아서 기쁘다 말로 하기 쑥스러운데...  [[1]]
2      2  오늘 대학 합격 통지를 받았어 엄마가 너무 기뻐하는데 나는 눈물이 났어 사실 이렇게...  [[1]]
3      3  오늘 졸업식인데 선생님께서 아프셔서 오지 못하셨어 그동안 감사하다는 말도 못했는데 ...  [[1]]
4      4  나 올림피아드에서 금상 받았어 그동안 고생이 헛되지 않아서 너무 기뻐 근데 친구들이...  [[1]]

### data processing

In [39]:
df.shape

(5362, 2)

In [40]:
df.dropna(inplace=True)

In [41]:
df.shape

(5362, 2)

In [42]:
df.drop_duplicates(inplace=True)

In [43]:
df.reset_index(inplace=True)

In [44]:
df.label.value_counts()

[2]    1433
[1]    1420
1       999
2       987
Name: label, dtype: int64

# *👉🏻 data save*

In [45]:
fm.save(config.save_data, df)

Saved 4839 records